CLIENT_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
MONGODB_URI=mongodb://localhost:27017/purple-octopus
PORT=5001

# Create an API key and secret in the Cloudinary Console, then set these values.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
